<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <title>Document</title>
</head>
<body>
    <div class="main" id="main">
          <div class="d-flex w-100">
            <div class="side-bar pt-5 pb-2 px-4 d-flex flex-column justify-content-between">
              <div>
                <h3 style="max-width: 214px;" class="fw-7">
                  Employee
                  <span class="fw-3">
                      Management
                  </span>
              </h3>
              <hr class="mt-4">
              <ul class="sidebar-items pt-3">
                <li class="d-flex align-items-center gap-1" >
                  <span class="material-symbols-outlined" style="color: white;">
                    home
                    </span>
                    <h6 style="margin: 0;">Dashboard</h6>
                </li>
                <li class="d-flex align-items-center gap-1" >
                  <span class="material-symbols-outlined" style="color: white;">
                    bar_chart_4_bars
                    </span>
                    <h6 style="margin: 0;">Employees</h6>
                </li>
                <li class="d-flex align-items-center gap-1" >
                  <span class="material-symbols-outlined" style="color: white;">
                    person
                    </span>
                    <h6 style="margin: 0;">My Profile</h6>
                </li>
                <li class="d-flex align-items-center gap-1" >
                  <span class="material-symbols-outlined" style="color: white;">
                    lock_open
                    </span>
                    <h6 style="margin: 0;">Logout</h6>
                </li>
            </ul>
              </div>
                <div class="d-flex gap-1 align-items-center">
                  <hr style="background-color: white;">
                  <p class="side-bar-footer">Powered by</p>
                  <img src="/images/stackuplogo.png" alt="">
                </div>
            </div>
          <div class="main-menu w-100">
            <div>
              <div class="d-flex justify-content-between p-5 align-items-center">
                <div style="width: 100%;justify-content: center;display: flex;flex-direction: column;">
                  <h6 class="txt-light">
                      Employee/Profile
                  </h6>
                  <h1 class="employee-heading">
                      MY Profile
                  </h1>
                  <div class="addemployee-popup-container p-4" id="addemployeePopup">
                <div class="addemployee-popup bg-body px-4 py-4" id="addemployee-popup">
                  <div class="d-flex justify-content-between">
                    <h3 id="form-heading">Edit</h3>
                    <a style="text-decoration: none;" class="close-btn d-flex justify-content-center align-items-center"><span class="material-symbols-outlined">
                      close
                      </span></a>
                  </div>
                  <hr style="background-color: blue; height: 2px;width: 100%;">
                  <% if (msg) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong><%= msg %>!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                <% } %>
               <form class="pt-1" id="employeeForm" action="/admin/editEmployee/<%= employee._id %>" method="post">
                   <div class="form-group pt-2">
                       <div class="row pt-3">
                           <div class="w-md-100 col-xl-2 col-lg-2 col-md-12 pt-2">
                               <label for="inputState" class="form-label">Salutation</label>
                               <select id="salutation" class="form-select" name="salutation">
                                 <option value="<%= salutation %>"><%= salutation %></option>
                                 <option value="Mr">Mr</option>
                                 <option value="Ms">Ms</option>
                                </select>
                                <p id="salutationVal"></p>
                             </div>
                   <div class="w-md-100 form-group col-lg-5 col-md-12 pt-2">
                     <label class="form-label">First Name</label>
                     <input type="text" class="form-control" id="firstname" placeholder="John" name="firstname" value="<%= firstname %>">
                     <p id="firstnameVal"></p>
                   </div>
                   <div class="w-md-100 form-group col-lg-5 col-md-12 pt-2">
                       <label class="form-label">Last Name</label>
                       <input type="text" class="form-control" id="lastname"  placeholder="Doe" name="lastname" value="<%= lastname %>">
                       <p id="lastnameVal"></p>
                     </div>
                     </div>
                       <div class="row pt-1">
                             <div class="form-row col-lg-6 col-md-12 pt-2">
                       <label for="inputEmail4" class="form-label">Email Address</label>
                       <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="<%= email %>">
                       <p id="emailVal"></p>
                     </div>
                     <div class="form-group col-lg-6 col-md-12 pt-2">
                       <label for="inputPassword4" class="form-label">Mobile Number</label>
                       <input type="text" class="form-control" id="mobile" placeholder="Mobile" max="10" name="mobile" value="<%= mobile %>">
                       <p id="mobileVal"></p>
                     </div>
                       </div>
                       <div class="row pt-1">
                         <div class="form-row col-lg-6 col-md-12 pt-2">
                   <label for="dob" class="form-label">Date Of Birth</label>
                   <input type="date" class="form-control" id="dob" name="dob" value="<%= dob.split("-").reverse().join("-") %>">
                   <p id="dobVal"></p>
                 </div>
                 <div class="form-group col-lg-6 col-md-12 pt-2">
                   <label for="" class="form-label">Gender</label>
                   <div id="gender">
                   <input class="form-check-input" type="radio" name="gender" id="Male" value="Male" <% if (gender == "Male") { %>
                    checked
                   <% } %>>
                   <label class="form-check-label" for="Male">
                     Male
                   </label>
                   <input class="form-check-input" type="radio" name="gender" id="Female" value="Female" <% if (gender == "Female") { %>
                    checked
                   <% } %>>
                   <label class="form-check-label" for="Female">
                     Female
                   </label>
                   <p id="genderVal"></p>
                   </div>
                 </div>
                   </div>
                   <div class="row pt-1">
                     <div class="form-group col-lg-12 col-md-12 pt-2">
                       <label for="inputPassword4" class="form-label">Address</label>
                       <input type="text" class="form-control" id="address" placeholder="Address" name="address" value="<%= address %>">
                       <p id="addressVal"></p>
                     </div>
                   </div>
                   <div class="row pt-1">
                     <div class="form-group col-lg-12 col-md-12 pt-2">
                       <label for="inputPassword4" class="form-label">Qualifications</label>
                       <input type="text" class="form-control" id="qualifications" placeholder="Qualifications" name="qualifications" value="<%= qualifications %>">
                       <p id="qualificationsVal"></p>
                     </div>
                   </div>
                   <div class="row pt-1">
                     <div class="col-lg-6 col-md-12 pt-2">
                       <label for="" class="form-label">Country</label>
                       <select id="country" class="form-select" name="country">
                         <option value="<%= country %>"><%= country %></option>
                         <option value="India">India</option>
                         <option value="China">China</option>
                         <option value="Canada">Canada</option>
                       </select>
                       <p id="countryVal"></p>
                     </div>
                     <div class="col-lg-6 col-md-12 pt-2">
                       <label for="" class="form-label">State</label>
                       <select id="state" class="form-select" name="state">
                         <option value="<%= state %>"><%= state %></option>
                         <option value="Kerala">Kerala</option>
                         <option value="Karnataka">Karnataka</option>
                         <option value="Tamilnadu">Tamilnadu</option>
                       </select>
                       <p id="stateVal"></p>
                     </div>
                   </div>
                   <div class="row pt-1">
                     <div class="form-group col-lg-12 col-md-12 pt-2">
                       <label for="city" class="form-label">City</label>
                       <input type="text" class="form-control" id="city" placeholder="City" name="city" value="<%= city %>">
                       <p id="cityVal"></p>
                     </div>
                   </div>
                   <div class="row pt-1">
                     <div class="form-group col-lg-12 col-md-12 pt-2">
                       <label for="username" class="form-label">Username</label>
                       <input type="text" class="form-control" id="username" placeholder="username" name="username" value="<%= username %>">
                       <p id="usernameVal"></p>
                     </div>
                     
                   </div>
                   </div>
                   <div class="d-flex justify-content-end align-items-center pt-3">
                    <a href="/admin/dashboard" class="btn close-button p-2">Close</a>
                    <button type="submit" class="btn success-btn mx-1 p-2" id="button-dia">Save Changes</button>
                    <input type="text" style="display: none;" name="" id="empid">
                  </div>
                 </form>
                
            </div>  
            </div> 
                </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center px-3">
              <p>
                © 2023 All Rights Reserved. Stackup
              </p>
              <div class="d-flex">
                <p>
                  Terms of Use
                </p>
                <p class="px-1">
                  Privacy Policy
                </p>
              </div>
            </div>
          </div>
          </div>
         </div>
         <div id="total" style="display: none;"></div>
         <div id="search" style="display: none;"></div>
         <div id="pagination-number" style="display: none;"></div>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>         
         <script src="/js/script.js" ></script>
    </body>
</html>